/*
 * Imports
 */
@import "./default_vars.scss";

@import "../node_modules/materialize-css/sass/materialize.scss";

/**
 * Mixins
 */
@mixin sansita-font() {
	font-family: 'Sansita', sans-serif;
}

@mixin lobster-font() {
	font-family: 'Lobster Two', cursive;
}

/**
 * Tags
 */
html, body {
	@include sansita-font();
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	i {
		display:inline !important;
	}
	.brand-logo{
		padding-left: 10px;
		&:hover {
			color : $link-color;
		}
	}
}

footer {
	&.page-footer{
		padding-top:0;
	}
	div {
		&.row {
			margin:0;
		}
	}
}

p {
	a:hover {
		color : lighten($link-color, 15%);
	}
}

a {
	&:disabled {
		cursor : not-allowed;
	}
}

/**
 * Classes
 */
.navbar-fixed {
	z-index : 1000;
}

.title {
	@include lobster-font();
}

.user-nav-label{
	margin: 5%;
}

.rounded-corners {
	border-radius: 10px;
}

.success {
	background-color : $success-color !important;
}

.error {
	background-color: $error-color !important;
}

.primary {
	background-color : $primary-color !important;
}

.link {
	background-color: $link-color !important;
}

.success-text {
	color :  $success-color !important;
}

.error-text {
	color : $error-color !important;
}

.primary-text {
	color : $primary-color !important;
}

.link-text {
	color : $link-color !important;
}

.ng-invalid {
	@extend .invalid;
}

.ng-valid {
	@extend .valid;
}

.pages {
	min-height : 300px;
}

.loading-wrapper {
	background-color: rgba(255,255,255,.8);
	position: absolute;
	z-index : 10;
	width : 100%;
	height : 100%;
	box-sizing: content-box;
	.row {
		position: absolute;
		top : 50%;
		transform : translateY(-50%);
		width : 100%;
	}
}

.parallax-container {
	height: 400px;
	.parallax {
		height: 100%;
		&.gold-bg {
			background-color: #948158;
			img {
				max-width: 100%;
				height: auto;
				min-height: 0;
			}
		}
	}
}

.gallery {
	background-color: lighten($primary-color-dark, 5%);
}

.angular-google-map-container {
	height : 500px;
}

.container.venue {
	padding-top : 20px;
}

.registry {
	margin-bottom: 0;
	min-height: 50vh;
	padding: 20px;
}

@media (max-width:700px) {
	.modal {
		width : 100%;
		top : 5% !important;
		height : 90%;
		max-height : 90%;
		&.modal-fixed-footer {
			height : 90%;
			max-height: 90%;
		}
	}
}

@media (max-width:600px) {
	#main-title-mobile {
		position:relative;
		h3 {
			margin-left:10%;
			position: absolute;
			top:0;
			left:0;
		}
	}
	.mobile-fill-btn {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.registry {
		display: flex;
		align-items: center;
	}
}

/**
 * Identifiers
 */

#rsvp-modal {
	span {
		color: $secondary-color;
		a {
			cursor: pointer;
			&.active {
				font-size: larger;
			}
			&.disabled {
				color: $secondary-color;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.modal-content {
		overflow-y: hidden;
	}
	.rsvp-action-pane {
		height : 100%;
		.page-container {
			height : 100%;
			.pages {
				height : 100%;
				position: relative;
				overflow-y: auto;
				.page {
					position: absolute;
					top:0;
					left:0;
					width : 100%;
					&.ng-enter {
						transition: all 0.5s linear 0.5s;
						opacity: 0;
						&.ng-enter-active {
							opacity: 1;
						}
					}

					&.ng-leave {
						transition: all 0.5s linear;
						opacity: 1;
						&.ng-leave-active {
							opacity: 0;
						}
					}
				}
			}
		}
	}
	.modal-footer {
		.row {
			margin-bottom: 0px;
			p {
				text-align : left;
				margin-bottom : 0px;
			}
		}
	}
}

#confirm-modal {
	h6 {
		border-bottom: lighten($secondary-color, 15%) 1px solid;
	}
	p {
		padding-left : 5%;
	}
}

#bbb-registry {
	background-color: white;
}

#rei-registry {
	background-color: darkolivegreen;
}
