/*
 * Imports
 */
@import "./default_vars.scss";

@import "../node_modules/materialize-css/sass/materialize.scss";

/**
 * Mixins
 */
@mixin sansita-font() {
	font-family: 'Sansita', sans-serif;
}

@mixin lobster-font() {
	font-family: 'Lobster Two', cursive;
}

/**
 * Tags
 */
html, body {
	@include sansita-font();
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav {
	i {
		display:inline !important;
	}
	.brand-logo{
		padding-left: 10px;
		&:hover {
			color : $link-color;
		}
	}
}

footer {
	&.page-footer{
		padding-top:0;
	}
	div {
		&.row {
			margin:0;
		}
	}
}

p {
	a:hover {
		color : lighten($link-color, 15%);
	}
}

a {
	&:disabled {
		cursor : not-allowed;
	}
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
	margin: 4px;
}

/**
 * Classes
 */
.navbar-fixed {
	z-index : 1000;
}

.title {
	@include lobster-font();
}

.user-nav-label{
	margin: 5%;
}

.rounded-corners {
	border-radius: 10px;
}

.success {
	background-color : $success-color !important;
}

.error {
	background-color: $error-color !important;
}

.primary {
	background-color : $primary-color !important;
}

.link {
	background-color: $link-color !important;
}

.success-text {
	color :  $success-color !important;
}

.error-text {
	color : $error-color !important;
}

.primary-text {
	color : $primary-color !important;
}

.link-text {
	color : $link-color !important;
}

.bbb {
	background-color: #384A9C;

	&:hover {
		background-color: lighten(#384A9C, 15%) !important;
	}
}

.btn {
	&.yellow {
		&:hover {
			background-color: lighten(color('yellow', 'base'), 15%) !important;
		}
	}

	&.black {
		&:hover {
			background-color: lighten(#000000, 15%) !important;
		}
	}
}

.bbb-text {
	color : #384A9C;
}

.ng-invalid {
	@extend .invalid;
}

.ng-valid {
	@extend .valid;
}

.pages {
	min-height : 300px;
}

.bottom-padded {
	margin-bottom: 56px;
}

.loading-wrapper {
	background-color: rgba(255,255,255,.8);
	position: absolute;
	z-index : 10;
	width : 100%;
	height : 100%;
	box-sizing: content-box;
	.row {
		position: absolute;
		top : 50%;
		transform : translateY(-50%);
		width : 100%;
	}
}

.parallax-container {
	height: 400px;
	.parallax {
		height: 100%;
		&.gold-bg {
			background-color: #948158;
			img {
				max-width: 100%;
				height: auto;
				min-height: 0;
			}
		}
	}
}

.gallery {
	background-color: lighten($primary-color-dark, 5%);
}

.angular-google-map-container {
	height : 500px;
}

.container.venue {
	padding-top : 20px;
	.col {
		div.divider {
			margin-right: 15px;
		}

		p {
			padding-right: 10%;
		}
	}
}

.registry {
	margin-bottom: 0;
	min-height: 50vh;
	padding: 20px;
}

.modal.modal-fixed-footer {
	.modal-content {
		height: auto;
	}
	.modal-footer {
		z-index: 5;

		a {
			cursor: pointer;
		}
	}
}

.modal {
	top : 5% !important;
	height : 90%;
	max-height : 90%;
	&.modal-fixed-footer {
		height : 90%;
		max-height: 90%;
	}
	.dropdown-content {
		max-height: 225px;
	}
}

@media (min-width: 700px) {
	.modal {
		width : 90%;
	}
}

.rideshare-address {
	@extend .center-align;
	position: relative;
	padding-bottom: 10px !important;

	* {
		display: inline-block;
	}

	a {
		margin-right: 10px;
	}

	.copy {
		cursor: pointer;
		float: right;
	}
}

.divider-special {
	@extend .divider;

	margin-top: 15px;
}

@media (max-width:700px) {
	.modal {
		width : 100%;
	}
}

@media (max-width:600px) {
	.mobile-fill-btn {
		width: 100%;
	}
}

@media (min-width: 600px) {
	.valign-wrapper-inner {
		display: flex;
		align-items: center;
	}

	.registry {
		@extend .valign-wrapper-inner;
	}
	
	.venue {
		> .row {
			@extend .valign-wrapper-inner;
		}
	}
}

/**
 * Identifiers
 */

#rsvp-modal {
	.nav-btn-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;
		&#prev-btn {
			left: 20px;
		}
		&#next-btn {
			right: 20px;
		}
	}
	span {
		color: $secondary-color;
		a {
			cursor: pointer;
			&.active {
				font-size: larger;
			}
			&.disabled {
				color: $secondary-color;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.rsvp-action-pane {
		height : 100%;
		.page-container {
			height : 100%;
			.pages {
				height : 100%;
				position: relative;
				.page {
					position: absolute;
					top:0;
					left:0;
					width : 100%;
					&.ng-enter {
						transition: all 0.5s linear 0.5s;
						opacity: 0;
						&.ng-enter-active {
							opacity: 1;
						}
					}

					&.ng-leave {
						transition: all 0.5s linear;
						opacity: 1;
						&.ng-leave-active {
							opacity: 0;
						}
					}
				}
			}
		}
	}
	.modal-footer {
		.row {
			margin-bottom: 0px;
			p {
				text-align : left;
				margin-bottom : 0px;
			}
		}
	}

	.title-wrapper {
		margin-top: 10px;	
	}

	.meal-option {
		margin-top: 20px;
	}
}

#confirm-modal {
	h6 {
		border-bottom: lighten($secondary-color, 15%) 1px solid;
	}
	p {
		padding-left : 5%;
	}
}

#bbb-registry {
	background-color: white;
}

#rei-registry {
	background-color: darkolivegreen;
}

#ikea-registry {
	background-color: #0051BA;
}

#meal-notes {
	margin-bottom: 50px;
	@include lobster-font();

	ul {
		list-style-type: none;
	}
}
