<!DOCTYPE html>
<div class="modal" id="confirm-modal">
  <div class="modal-content">
    <h3> Confirm RSVP </h3>
    <div class="col s12">
    	<h5>Please review your RSVP</h5>
    	<p>Please validate that the following data is correct. Once submitted, you will need to contact Jon Opdahl (the groom) or Jenna Dengler (the bride) to change your RSVP details.</p>
    	<p>{{data}}</p>
    </div>
  </div><!-- /.modal-content -->
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn left-align">Cancel</a>
    <a class="modal-action modal-close waves-effect btn right-align" ng-click="submit()">Submit</a>
  </div><!-- /.modal-footer -->
</div><!-- /.modal -->