<!DOCTYPE html>
<div class="row gallery">
	<div class="col s12 m4" ng-repeat="img in imgUrls">
		<div class="card">
			<div class="card-content">
		  		<image-directive class-name="responsive-img materialboxed gallery-image" src="img.url" caption="{{img.caption}}"></image-directive>
		  	</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col s12 center-align">
		<h5>Thank you to Ally Fillmore for the great engagement photos! Check out more of her work at <a target="_blank" href="https://www.allysonfillmore.com/portfolio">allysonfillmore.com</a></h5>
	</div>
</div>