<!DOCTYPE html>
<div class="container">
	<br>
	<div class="row">
		<div class="col m6 hide-on-small-only">
			<img class="responsive-img rounded-corners" src="img/Tree_Left_2.jpg"/>
		</div>
		<div class="col s12 m6">
			<div class="col s12 hide-on-med-and-up">
				<img class="responsive-img rounded-corners" src="img/Tree_Left_2.jpg"/>
			</div>
			<h3 class="title hide-on-small-only">Welcome!</h3>
			<p class="hide-on-small-only">Welcome to Jon and Jenna's wedding page! We're excited to celebrate with you!</p>
			<h5 class="title">Quick Info</h5>
			<h6><strong class="title">When:</strong> Sunday December 23, 2018 at 3:30 PM</h6>
			<h6><strong class="title">Where:</strong> <a ng-href="/#!/venue">The Van Dusen Mansion, Minneapolis, MN</a></h6>
			<p>Please browse our <a href="/#!/gallery">gallery of engagement photos</a> <!--, <a href="/#!/RSVP">RSVP</a>, -->, <a href="/#!/registry">view gift registries</a>, and <a href="/#!/accommodations">look at recommended accommodations</a> for the big weekend! You can also read about our story below.</p>
		</div>
	</div>
	<div class="row center-align">
		<h3 id="our-story" class="title"> Our Story </h3>
	</div>
	<div class="row">
		<p>Jon and Jenna met in January of 2015 at Luther College. Jenna was working at the campus coffee shop, which Jon visited every morning with his friend Andy to get through his J-term dance class (it was required...). He <strong>really</strong> wanted to ask out "Cute Coffee Girl," as she became known to his roommates, Sam and Andy -- Al was in Ireland at the time --, but every time he tried, he couldn't muster the courage. Eventually, Andy advised, "You know, I hate to do this but I think we have to resort to a facebook message..."</p>
		<p>So, that's what they did. With the help of his roommates, he crafted the perfect message, and -- with a little persuasion -- they sent it, and waited.</p>
		<p>Meanwhile...</p>
		<p>Three days into J-term, Jenna noticed a, "flirtacious baseball guy," trying to make awkward small talk at work. A week later, she recieved a message from Jon, asking her out on a coffee date. Later that day, she accepted and they went for coffee at <a href="http://www.mymagpiecoffee.com">Magpie Coffeehouse</a>. It went so well, that they decided to go on a second date a week later, followed by many more.</p>
		<p>After almost two-and-a-half years of runs, ball-games, hikes, and coffee dates, in June of 2017, Jon and Jenna went on a trip to Minnesota's North Shore. After what they called a, "fancy date night," they took a walk around <a href="http://www.dnr.mn.us/state_parks/gooseberry_falls/index.html">Gooseberry Falls State Park</a>. When he found the perfect spot, a rock overlooking the Upper Falls, Jon proposed and Jenna said yes.</p>
		<p>They are both currently living in Iowa City, where Jon is working as a Software Engineer for <a href="http://www.iseinc.biz">Innovative Software Engineering</a> and Jenna is studying to become a Physical Therapist at the University of Iowa (Go Hawks!). They still enjoy getting a cup of coffee together when they can...</p>
	</div>
</div>
