<!DOCTYPE html>
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
	    <a ng-href="/" class="brand-logo title">J&J Wedding</a>
	    <a href="#" data-activates="nav-mobile" class="button-collapse right">
	    	<i class="material-icons">menu</i>
	    </a>
		  <ul class="right hide-on-med-and-down">
				<li class="waves-lighten" ng-class="{ active : isactive('/') }"><a ng-href="/">Home</a></li>
				<!-- <li class="waves-lighten" ng-class="{ active : rsvping }"><a ng-click="rsvp()">RSVP</a></li> -->
				<li class="waves-lighten" ng-class="{ active : isactive('/venue')}"><a ng-href="/#!/venue">Venue</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/accommodations')}"><a  ng-href="/#!/accommodations">Accommodations</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/registry')}"><a ng-href="/#!/registry">Registry</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/gallery')}"><a href="/#!/gallery">Gallery</a></li>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li class="waves-lighten" ng-class="{ active : isactive('/') }"><a ng-href="/">Home</a></li>
				<!-- <li class="waves-lighten" ng-class="{ active : rsvping }"><a ng-click="rsvp()">RSVP</a></li> -->
				<li class="waves-lighten" ng-class="{ active : isactive('/venue')}"><a ng-href="/#!/venue">Venue</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/accommodations')}"><a  ng-href="/#!/accommodations">Accommodations</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/registry')}"><a ng-href="/#!/registry">Registry</a></li>
				<li class="waves-lighten" ng-class="{ active : isactive('/gallery')}"><a href="/#!/gallery">Gallery</a></li>
			</ul>
		</div>
	</nav>
</div>
