<div id="ikea-registry" class="row registry">
  <div class="col m4 push-m8 dont-marginalize">
    <img src="img/ikea.png" width="100%">
  </div>
  <div class="col m8 s12 pull-m4">
      <h2 class="title hide-on-small-only white-text">Registry at IKEA</h2>
      <p>We have registered at IKEA. Please see the link below to view our registry.  Can't find anything you're excited about here? Try browsing our other registries!</p>
      <a class="waves-effect waves-light btn yellow black-text mobile-fill-btn" target="_blank" href="https://info.ikea-usa.com/giftregistry/en-us/registry/index/8f7c16b0-b4ff-46de-b0e7-7acf1785456f">View Registry</a>
    </div>
</div>
<div id="bbb-registry" class="row registry">
  <div class="col m4 s12 dont-marginalize">
    <img src="img/bed-bath-and-beyond.png" width="100%">
  </div>
  <div class="col m8 s12">
    <h2 class="title hide-on-small-only">Registry at Bed Bath &amp; Beyond</h2>
    <p>We have registered at Bed Bath &amp; Beyond. Please see the link below to view our registry. Can't find anything you're excited about here? Try browsing our other registries!</p>
    <a class="waves-effect waves-light btn primary mobile-fill-btn" target="_blank" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=545914022&pwsurl=&searchParam=opdahl">View Registry</a>
  </div>
</div>
<div id="rei-registry" class="row registry">
  <div class="col m4 push-m8 dont-marginalize">
    <img src="img/rei.png" width="100%">
  </div>
  <div class="col m8 s12 pull-m4">
      <h2 class="title hide-on-small-only">Registry at REI</h2>
      <p>Almost ready! We're still finalizing our registry. Once we are done, we'll activate the link below!</p>
      <!-- <p>We have registered at REI. Please see the link below to view our registry.  Can't find anything you're excited about here? Try browsing our other registries!</p> -->
      <a class="waves-effect waves-light btn mobile-fill-btn" target="_blank" href="" disabled>View Registry</a>
    </div>
</div>