<!DOCTYPE html>
<div class="modal modal-fixed-footer" id="rsvp-modal">
  <loading-component ng-if="loading"></loading-component>
  <div id="prev-btn" ng-if="data.name != null && !data.rsvped" class="nav-btn-wrapper hide-on-small-only">
    <a href="" class="btn-floating waves-effect waves-light link rsvp-nav-btn" ng-disabled="currPage <= 0" ng-click="prevPage()"><i class="material-icons">keyboard_arrow_left</i></a>
  </div>
  <div id="next-btn" ng-if="data.name != null && !data.rsvped" class="nav-btn-wrapper hide-on-small-only">
    <a href="" class="btn-floating waves-effect waves-light link rsvp-nav-btn" ng-disabled="currPage >= maxPage || !canAdvance()" ng-click="nextPage()"><i class="material-icons">keyboard_arrow_right</i></a>
  </div>
  <div class="modal-content">
		<div ng-if="data.name == null"> <!-- begin partyId form -->
			<div class="row bottom-padded">
				<div class="col s12">
					<h2>RSVP</h2>
					<form novalidate class="col s12" ng-submit="getParty()" name="rsvpEntryForm">
						<p>Please enter the unique RSVP code included with your invitation.</p>
						<div class="input-field col s12">
							<label for="party-key">Party Key</label>
							<input id="party-key" ng-model="entryPage.partyKey" ng-minlength="1"
                ng-maxlength="14" ng-pattern="/^[0-9A-Fa-f]+$/i" type="text" name="key" min="1" max="14" required/>
						</div>
						<button type="submit" class="pull-right btn success waves-effect waves-light"
              ng-class="{ 'disabled' : rsvpEntryForm.key.$invalid }">Validate</button>
            <span ng-if="error" class="error-text">{{error}} If the issue persists, contact the groom at: </span>  
            <contact-info ng-show="error"></contact-info>
					</form>
        </div>
      </div>
		</div> <!-- end partyId form -->
		<div ng-if="data.name != null && data.rsvped"> <!-- already rsvped -->
			<div class="row bottom-padded">
				<div class="col s12">
					<h3>Need to change your RSVP?</h3>
					<p>It looks like you have already RSVPed. If you need to change your RSVP details, please contact the groom at either of the following:</p>
          <contact-info></contact-info>
				</div>
			</div>
		</div> <!-- end already rsvped -->
		<div class="rsvp-action-pane" ng-if="data.name != null && !data.rsvped">
		    <div class="row valign-wrapper page-container" ng-switch="currPage">
          <div class="col m10 offset-m1 s12">
            <div class="row">
            <h4 class="center-align">Welcome {{data.name}}!</h4>
            <div class="center-align">
            <span class="hide-on-small-only">
                <a href="" ng-class="{'active' : currPage==0}" ng-click="jumpTo(0)">Attending</a> >
                <a ng-class="{'active' : currPage==1, 'disabled' : !canJump(1)}" ng-if="data.maxSize > 1" ng-click="jumpTo(1)">Party Info</a><span ng-if="data.maxSize > 1"> ></span>
                <a ng-class="{'active' : currPage==2, 'disabled' : !canJump(2)}" ng-click="jumpTo(2)">Guest Info</a> >
                <a ng-class="{'active' : currPage==3, 'disabled' : !canJump(3)}" ng-click="jumpTo(3)">Meal Selection</a> >
                <a ng-class="{'active' : currPage==4, 'disabled' : !canJump(4)}" ng-click="jumpTo(4)">Contact Info</a>
            </span>
            </div>
            <div class="col s12 hide-on-med-and-up">
              <div class="row">
                <div class="col s6 center-align">
                  <a href="" class="btn waves-effect waves-light link rsvp-nav-btn" ng-disabled="currPage <= 0" ng-click="prevPage()"><i class="material-icons">keyboard_arrow_left</i></a>
                </div>
                <div class="col s6 center-align">
                  <a href="" class="btn waves-effect waves-light link rsvp-nav-btn" ng-disabled="currPage >= maxPage || !canAdvance()" ng-click="nextPage()"><i class="material-icons">keyboard_arrow_right</i></a>
                </div>
              </div>
            </div>
            <div class="col s12 divider"></div>
          </div>
          <div class="pages">
            <div class="page" ng-switch-when="0"> <!-- page 1 -->
              <div class="row">
                <div class="col s12">
                  <h5>Will you be joining us?</h5>
                </div>
                <form novalidate ng-submit="nextPage()">
                  <div class="row">
                    <div class="input-field col s10 offset-s1">
                      <p>
                        <input class="with-gap" ng-model="data.attending" type="radio" id="attending" ng-value="true"/>
                        <label for="attending" ng-class="{ 'primary-text' : data.attending == true }">Yes, I am planning to attend</label>
                      </p>
                      <p>
                        <input class="with-gap" ng-model="data.attending" type="radio" id="not-attending" ng-value="false"/>
                        <label for="not-attending" ng-class="{ 'primary-text' : data.attending == false}">No, I am unable to attend</label>
                      </p>
                    </div>
                  </div>
                  <input type="submit" hidden/>
                </form>
              </div>
            </div> <!-- end page1 -->
            <div class="page" ng-switch-when="1"> <!-- page 2 -->
              <div class="row">
                <div class="col s12">
                  <h5>How many people are in your party?</h5>
                </div>
                <form novalidate ng-submit="nextPage()">
                  <div class="row">
                    <div class="input-field col m10 s12 offset-m1">
                      <select ng-options="number as number for number in partyOptions" ng-model="data.size">
                        <option value="" disabled selected>Choose your option</option>
                      </select>
                      <label>Number of guests (including yourself)</label>
                    </div>
                  </div>
                  <input type="submit" hidden/>
                </form>
              </div>
            </div><!-- end page2 -->
            <div class="page" ng-switch-when="2"> <!-- page 3 -->
              <div class="row bottom-padded">
                <div class="col s12 center-align">
                  <h6>{{memberInfoPrompt}} your guest information</h6>
                </div>
                <form name="guestInfoForm" novalidate ng-submit="nextPage()">
                  <div class="row" ng-repeat="guest in data.members">
                    <div class="col s12">
                      <h6>Guest {{$index+1}}</h6>
                      <div class="col s12 divider"></div>
                    </div>
                    <div class="row">
                      <div class="input-field col s8 offset-s1">
                        <input type="text" class="validate" name="firstName{{$index}}" required ng-model="guest.firstName"/>
                        <label for="firstName{{$index}}" ng-class="{'active' : guest.firstName != null}">First Name</label>
                      </div>
                      <div class="input-field col s8 offset-s1">
                        <input type="text" name="lastName" required ng-model="guest.lastName"/>
                        <label for="lastName" ng-class="{'active' : guest.lastName != null}">Last Name</label>
                      </div>
                      <div class="input-field col s8 offset-s1">
                        <input id="guest-{{$index}}-under21" ng-checked="guest.under21" type="checkbox" ng-click="toggleUnder21(guest)"/>
                        <label for="guest-{{$index}}-under21">Under 21?</label>
                      </div>
                      <div class="input-field col s8 offset-s1" ng-show="guest.under21">
                        <input id="guest-{{$index}}-under10" ng-checked="guest.under10" type="checkbox" ng-click="toggleMealOptions(guest)"/>
                        <label for="guest-{{$index}}-under10">Under 10?</label>
                      </div>
                    </div>
                  </div>
                  <input type="submit" hidden/>
                </form>
              </div>
            </div><!-- end page3 -->
            <div class="page meal-info" ng-switch-when="3"> <!-- page 4 -->
              <div class="row">
                <div class="col s12 center-align">
                  <h6>Please choose your meal and indicate any food allergies</h6>
                </div>
                <form novalidate ng-submit="nextPage()">
                  <div class="row" ng-repeat="guest in data.members">
                    <div class="col s12">
                      <div class="title-wrapper">
                        <h6>{{guest.firstName}} {{guest.lastName}}</h6>
                        <div class="divider col s12"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col l6 s12">
                        <div class="title-wrapper">
                          <h6>Meal Options</h6>
                        </div>
                        <p class="meal-option" ng-repeat="meal in guest.mealOptions">
                          <input class="with-gap" id="{{guest.firstName}}-{{guest.lastName}}-{{$index}}" type="radio" ng-value="meal.name" ng-model="guest.meal.meal"/>
                          <label for="{{guest.firstName}}-{{guest.lastName}}-{{$index}}">
                            <span>{{meal.name}}</span>
                            <br/>
                            <small>{{meal.description}}</small>
                          </label>
                        </p>
                      </div>
                      <div class="col l6 s12">
                        <div class="title-wrapper">
                          <h6>Please enter food allergies below</h6>
                        </div>
                        <div class="input-field col s12">
                          <input id="guest-{{$index}}-notes" ng-model="guest.meal.notes" type="text"/>
                          <label for="guest-{{$index}}-notes" ng-class="{ 'active' : guest.meal.notes}">Allergies</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="meal-notes">
                    <ul>
                      <li>* (GF) - Gluten Free</li>
                      <li>* (DF) - Dairy Free</li>
                      <li>* (V) - Vegetarian</li>
                    </ul>
                  </div>
                  <input type="submit" hidden/>
                </form>
              </div>
            </div><!-- end page4 -->
            <div class="page" ng-switch-when="4"><!-- page 5 -->
              <div class="row">
                <div class="col s12">
                  <h6>Verify your contact info - just in case we need to get in touch</h6>
                </div>
                <form name="contactForm" novalidate ng-submit="nextPage()">
                  <div class="row">
                    <div class="input-field col m6 s12">
                      <input type="email" name="email" ng-model="data.email" ng-pattern="/^(\w+)(\.\w+)*@(\w+\.)+(\w){2,}$/" required/>
                      <label for="email" ng-class="{'active' : data.email != null || contactInfo.email.$touched}">Email</label>
                    </div>
                  </div>
                  <input type="submit" hidden/>
                </form>
              </div>
            </div><!-- end page5 -->
          </div>
        </div><!-- end pages -->
      </div>
		</div>
	</div><!-- /.modal-content -->
	<div class="modal-footer">
    <div class="row">
      <div class="col s8">
        <p ng-if="data.name">
          <span class="hide-on-small-only">If you are not {{ data.displayName }}, please </span>
          <a class="hide-on-small-only" ng-click="restart()">
            restart
          </a>
          <a class="hide-on-med-and-up" ng-click="restart()">
            Restart
          </a><span> your rsvp.</span>
        </p>
      </div>
      <div class="col s4">
  	    <a class="modal-action modal-close waves-effect btn" ng-click="close()">Close</a>
      </div>
    </div>
	</div><!-- /.modal-footer -->
</div><!-- /.modal -->
<confirm-modal data="data" confirm="confirm" jump-to="jumpTo" restrictions="dietaryRestrictions"></confirm-modal>
