<div class="parallax-container">
  <div class="parallax">
    <img src="img/TheVanDusenMansion.jpg">
  </div>
</div>
<div>
  <div class="container venue">
    <div class="row valign-wrapper">
      <div class="col m6 s12">
        <div class="row">
          <h3 class="title">The Van Dusen Mansion</h3>
          <div class="divider"></div>
          <p>Located on the corner of LaSalle and Groveland in downtown Minneapolis, the Van Dusen is most accurately described by Jenna as, "a castle."</p>
          <a class="btn mobile-fill-btn primary waves-effect waves-light" target="_blank" href="http://www.thevandusenmansion.com/gallery/">View Gallery</a>
          <h5 class="title">Ride Share/Taxi</h5>
          <div class="divider"></div>
          <p>If you plan to use a taxi or ridesharing service to get to the wedding, please use the drive along the north side of the mansion, off of Groveland avenue.</p>
          <div class="col s12 rideshare-address">
            <a target="_blank" ng-href="{{sideDriveDirectionsUrl}}">
              {{rideShareAddress}}
            </a>
            <i title="copy" class="material-icons copy primary-text" ng-click="copied()" ngclipboard data-clipboard-text="{{rideShareAddress}}">file_copy</i>
          </div>
          <a class="btn mobile-fill-btn primary waves-effect waves-light" ng-href="{{sideDriveDirectionsUrl}}" target="_blank">Directions</a>
          <br/>
          <h5 class="title">Parking</h5>
          <div class="divider"></div>
          <p>If you plan to drive yourself, complimentary parking will be available during the wedding in the lot behind the mansion, off the corner of Groveland and Pillsbury.</p>
          <p>Unfortunately, we cannot offer overnight parking, so please plan accordingly.</p>
          <div class="col s12 rideshare-address">
              <a target="_blank" ng-href="{{directionsUrl}}">
                {{address}}
              </a>
              <i title="copy" class="material-icons copy primary-text" ng-click="copied()" ngclipboard data-clipboard-text="{{address}}">file_copy</i>
            </div>
          <a class="btn mobile-fill-btn primary waves-effect waves-light" target="_blank" ng-href="{{directionsUrl}}">Directions</a>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="row">
          <loading-component ng-if="loading"></loading-component>
          <ui-gmap-google-map center='map.center' control='googleMap' zoom='map.zoom'>
            <ui-gmap-marker
                    idKey='1'
                    coords='marker.coords'
                    options='marker.options'
                    click='openInfoWindow()'
                    control='vdMarker'>
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="vd-logo" class="parallax-container">
  <div class="parallax gold-bg">
      <img src="img/van-dusen-logo.png">
  </div>
</div>
